/* Tailwind CSSの基本設定をインポート */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 標準ボタンスタイル - ボールドフォント */
.btn {
  @apply font-bold;
}

/* 青色ボタン - 通常時は青、ホバー時は濃い青 */
.blue-btn {
  @apply bg-blue-500 hover:bg-blue-700 text-white btn;
}

/* 緑色ボタン - 通常時は緑、ホバー時は濃い緑 */
.green-btn {
  @apply bg-green-500 hover:bg-green-700 text-white btn;
}

/* 赤色ボタン - 通常時は赤、ホバー時は濃い赤 */
.red-btn {
  @apply bg-red-500 hover:bg-red-700 text-white btn;
}

/* 枠線付きの青色ボタン - 通常時は青の枠、ホバー時は濃い青の枠 */
.outline-blue-btn {
  @apply border-blue-500 hover:border-blue-700 text-blue-500 hover:text-blue-700 border-4;
}

/* 枠線付きの緑色ボタン - 通常時は緑の枠、ホバー時は濃い緑の枠 */
.outline-green-btn {
  @apply border-green-500 hover:border-green-700 text-green-500 hover:text-green-700 border-4;
}

/* 枠線付きの赤色ボタン - 通常時は赤の枠、ホバー時は濃い赤の枠 */
.outline-red-btn {
  @apply border-red-500 hover:border-red-700 text-red-500 hover:text-red-700 border-4;
}

/* 枠線付きの白色ボタン - 通常時は白の枠、ホバー時は石色の枠 */
.outline-white-btn {
  @apply border-white hover:border-stone-400 text-white hover:text-stone-400 border-4;
}

/* 点滅効果を定義 - 透明度を変化させる */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* 点滅クラス - 2秒間隔で無限に繰り返す */
.blinking {
  animation: blink 2s linear infinite;
}

/* カスタムスライダーのスタイル */
.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px; /* サムの幅 */
  height: 25px; /* サムの高さ */
  background: rgb(253 224 71); /* サムの背景色 yellow-300 */
  border-radius: 50%; /* 角丸 */
}

.custom-slider::-moz-range-thumb {
  width: 25px; /* サムの幅 */
  height: 25px; /* サムの高さ */
  background: rgb(253 224 71); /* サムの背景色 yellow-300 */
  border-radius: 50%; /* 角丸 */
}

.custom-slider::-ms-thumb {
  width: 25px; /* サムの幅 */
  height: 25px; /* サムの高さ */
  background: rgb(253 224 71); /* サムの背景色 yellow-300 */
  border-radius: 50%; /* 角丸 */
}

.inner-outer-shadow {
  box-shadow:
    inset 0 0px 70px 0px rgba(253, 224, 71, 0.8),
    0 0px 70px 0px rgb(253, 224, 71, 0.8);
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
